@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /* *color */
    /* *ight mode */
    --bg-color: #fff;
    --bg2-color: #fafafa;
    --text-color: #1b1b1b;
    --subtext_color: #1e1e1e;
    
    /* *dark mode */
    --bg-color: #121212;
    --bg2-color: #1e1e1e;
    --bg2-color: #1f1f1f;
    --text-color: #e1e1e1;
    --subtext_color: #9c9c9c;

    /** text style */
    --font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    font-size: 16px;
    font-family: var(--font-family);
}

/* **********************Reusable css */
a{
    text-decoration: none;
}
i{
    color: var(--text-color);
    font-size: 1.75rem;
    background-color: var(--bg-color);
    /* margin: 0.5rem; */
    padding:0.35rem;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.5s;
}
i:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
}
/* **********************dashoboard */

.background {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: var(--text-color);
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 0.25rem;
    padding-bottom: 0.75rem;
    /* border: 1px solid red; */
}
.hide{
    display: none;
}
/* **********************player */
.player{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  
    /* border: 1px solid red; */
   
}

.card {
    background-color: var(--bg2-color);
    /* width: 40%; */
    width: 430px;
    height: 500px;
    padding: 1rem;
    /* box-shadow: 3px 3px 10px  rgb(105, 104, 104); */
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    
}
.header__icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#music__poster{
    margin:1rem 0;
    width: 80%;
    height: 60%;
    overflow: hidden;
    background-image: url('./asset/img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* border-radius: 50%; */
}
.music__artist{
    color: var(--subtext_color);
    text-align: center;
  
}
.music__artist h3{
    font-size: 1.2rem;
    font-weight: 400;
}
.music__artist h4{
    font-size: 1rem;
    font-weight: 300;
}
.music__controls {
    margin: 1.5rem 0;
}
.music__scroll{

    width: 80%;
}
.music__scroll input {
    background-color:  var(--text-color);
    border-radius: 10px;
    margin: 0.5rem;
    height: 5px;
    width: 100%;
}
.time{
    display: flex;
    justify-content: space-between;
    color: var(--subtext_color);
}
.music__controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

/* **********************Music list */