@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100;1,300;1,400;1,500&display=swap');

:root {
    --bg-color: #252427;
    --clock-color: #46e646;
    --color-2:  #7f7f80;
    --highlight: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
    /* background: red; */
    /* color:red; */
    font-family: 'Montserrat', sans-serif;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
}

.clock__outerwall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 4px solid var(--clock-color);
    border-radius: 50%;
    box-shadow: -5px 14px 44px #000000;
}
.clock_innerwall{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 242px;
    border-radius: 50%;
    border: 4px solid var(--color-2);
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: -5px 14px 44px #000000; */
    margin: 5px;;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3A393F 0%, #17171A 100%);
}
.time{
    display: flex;
    /* width: 20px; */
    font-size:70px;
    /* line-height: 20px; */
    color: #ffffff;
    font-weight: 300;
    text-shadow: #fff;
    /* border: 1px solid red; */
}
input{
    display: block;
    font-weight: 300;
    font-size:65px;
    width:85px;
    outline: none;
    border: none;
    background-color: transparent;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}
.hr{
    font-size: 1px;
    
}
hr{
    
    position: relative;
    top: 0px;
    display: inline-block;
    width: 80px;
    height: 1px;
    margin:  0 5px;
    outline: none;
    border: none;
 background-color: var(--color-2);
}
.text{
   text-transform: uppercase;
   letter-spacing: 6px;
   color: var(--color-2);
   font-size: 12px;
   text-align: center;
   margin: 10px;
   cursor: pointer;
   /* border: 1px solid red; */
}
.text:hover{
    color: var(--highlight);
    transition-duration: 0.3s;

}
.hidden{
    display:none ;
}
.setting{
    /* color: var(--color-2); */
    opacity: 0.5;
   transform: scale(0.7);
   text-align: center;
   /* margin: 10px; */
   cursor: pointer;
   pointer-events:auto;
}
.setting:hover{
    filter: sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(102%) contrast(143%);
    transform:   scale(0.8);
    transition-duration: 0.2s;
}