*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
body, html{
    height: -webkit-fill-available;
}
.game-bg{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:100%;
}
.heading{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 500px;
    margin: 10px;
    align-self: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 25px;
    /* border: 1px solid red; */
}
.score{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
}
.highscore{
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 20px;
}
.controls{
    width: 100px;
    height: 100px;
}
.tab{
    width: 50px;
    height: 50px;
    background-color: red;
    color: black;
}
@media screen and (max-width:550px) {
    .heading{
        width:400px ;
        font-size: 25px;
    }
    .score,.highscore{
        font-size: 16px;;
    }
}
@media screen and (max-width:430px) {
    .heading{
        width:360px ;
        font-size: 22px;
    }
    .score,.highscore{
        font-size: 16px;;
    }
}
@media screen and (max-width:370px) {
    .heading{
        width:300px ;
        font-size: 22px;
    }
    /* .score,.highscore{
        font-size: 16px;;
    } */
}

/* ************************************footer */
footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(58, 55, 55);
    padding: 3px 0 0 5px;
    /* border-radius: 5px 0 0 0; */
    border-radius: 10px 0 0 0;
    /* border: 1px solid red; */
    
  }
  footer a{
  
    text-decoration: none;
  }
  .home{
    color: #ada4a4;
  }
  footer:hover .home{
    color: #fff;
  }