*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-bg{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height:100vh;
}
.heading{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 500px;
    margin: 10px;
    align-self: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.score{
    position: absolute;
    right: 0;
    font-size: 22px;
}
.board{
    /* border: 1px solid black; */
}