
:root{
    /* --color-1:rgb(207, 26, 96);
    
    --color-2:rgb(160, 35, 209); */

    --color-1: #ee0979;
    
    --color-2: #ff6a00;
    --bg-color:#ebe083;
    --card-height:80px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    height: 100%;
} */
html,body{
    overflow: hidden;
    height: -webkit-fill-available;
    
}
a{
    text-decoration: none;
    color: black;
}
.game{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, var(--color-1),var(--color-2));
}
.heading{
    margin: 10px 0 40px 0;
    padding: 5px 10px;
   
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.control{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;

}
.text{
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    color: black;
    /* height: ; */
}
.button:hover{
    box-shadow: 2px 6px 10px black;
    transform: translateY(-5px);
    background-color: var(--bg-color);
}
.board{
    display: grid;
    grid-template-columns: auto auto auto auto;
     background: linear-gradient(45deg, var(--color-2),var(--color-1));
     box-shadow: 2px 2px 10px black;
     padding: 5px;
      border-radius: 5px;
     
}
.grid__item{
       width: var(--card-height);
    height: var(--card-height);
    /* background: #1e1e1e; */
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid black; */
    /* transition-duration: 0.5s; */
}

.card-front{
    position: absolute;
    width: var(--card-height);
    height: var(--card-height);
    background: #1e1e1e;
    border-radius: 5px;
    /* display: none; */
    transition: transform 0.6s ease-in;
    height: var(--card-height);
    backface-visibility: hidden;
    transform: rotateY(0deg) rotateZ(0deg);
}
.card-back{
    position: absolute;
    width: var(--card-height);
    height: var(--card-height);
    background-color: var(--bg-color) ;
      
    display: flex;
   
     transition: transform 0.6s ease-in;
    backface-visibility: hidden;
    transform: rotateY(180deg) rotateZ(50deg);

}
.selected .card-front{
    transform: rotateY(180deg) rotateZ(50deg);
}
.selected .card-back{
    transform: rotateY(0deg) rotateZ(0deg);
}
img{
    width: 60%;
    margin: auto;
    height: 60%;
}
@media screen and (max-width:410px) {
    :root{
        --card-height:60px;
    }
    .text{
        font-size: 16px;
        padding: 3px 6px;
        margin: 0 5px;
    }
}


/* ************************************footer */
footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(58, 55, 55);
    padding: 3px 0 0 5px;
    /* border-radius: 5px 0 0 0; */
    border-radius: 10px 0 0 0;
    /* border: 1px solid red; */
    
  }
  footer a{
  
    text-decoration: none;
  }
  .home{
    color: #ada4a4;
  }
  footer:hover .home{
    color: #fff;
  }