*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#14bdac;
    --bg-color: linear-gradient(135deg, #FC466B 0%, #3F5EFB 100%);
    --bg2-color:#0da192;
    --bg2-color:#4e0845;
    --bg-winner: #5ee47f;

    --block-size:120px;
    --mark-size:80px
}
body{
    font-size: 16px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    border: 1px solid red;
    width: 100%;
    /* width: 100svw; */
    height: 100vh;
    /* height: 100svh; */
    background: linear-gradient(45deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
   
}
.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 0.75rem;
}
.game__details{
    text-align: center;
}
a{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    /* margin: 20px; */
    margin-left: 20px;
    /* border: 1px solid red; */
}
.new{
    color: #fff;
    font-size: 20px;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    background-color: #4e0845;
    width: fit-content;
    /* text-align: center; */
}
.new:hover{
   color: rgb(112, 96, 255);
}
.board{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    
}


table{
    align-self: center;
    
    width: 400px;
    height: 400px;
    /* border : 5px solid var(--bg2-color); */
    border-spacing: 0px;
}
.block{ 
                     
    /* border:1px solid red; */
    border : 3px solid var(--bg2-color);
    /* border-radius: 10px ; */
    background-color: transparent;

    /* margin:0.5rem; */
    text-align: center;
    /* padding: 0.25rem; */
    width: var(--block-size);
    height:var(--block-size);
    cursor: pointer;
    transition-duration: 0.5s;
   
}
tr:first-child .block
{
    border-top: 0px;
}
tr:last-child .block
{
    border-bottom: 0px;
}

td:first-child{
    border-left: 0px;
   
    z-index: -1;
}
td:last-child{
    border-right: 0px;
}

.show{
    background-color: #5ee47f;
}

.hr-border{
    margin: 0.25rem 0;
    background-color: var(--bg2-color);
}
i{
    /* border:1px solid red; */
    font-size: var(--mark-size);
    font-weight: 600;
}
.circle{
    font-size: calc( var(--mark-size) - 10px)
}
.cross,
.circle{
    animation: animate1 0.4s linear;
}
@keyframes animate1 {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
  
}
    
}
.winner_comment{
    font-size: 32px;
    height: 50px;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;
    padding-top: 2rem;
}

.design1{
    position: absolute;
    top: 500px;
    opacity: 0.5;
    width: fit-content;
    animation: rotate1 8s steps(6) infinite;
    
}
.design2{
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.5;
   
    /* border: 1px solid red; */
    animation: rotate1 5s steps(6) infinite;

}
.design3{
    position: absolute;
    right: 50px;
    bottom: 20px;
    opacity: 0.2;
    animation: animate2  4s  ease-in-out infinite;
}
.design3 i{
    font-size: 120px ;

}
.big-cross{
    font-size: 100px;
}
@keyframes rotate1 {
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(370deg);
    }
    
}
@keyframes animate2 {
    0%{
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-80px);
        /* opacity: 1; */
    }
    70%{
        transform: translateY(0px);
    }
    85%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
    
}


/* ************************************footer */
footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(58, 55, 55);
    padding: 3px 0 0 5px;
    /* border-radius: 5px 0 0 0; */
    border-radius: 10px 0 0 0;
    /* border: 1px solid red; */
    
  }
  footer a{
  
    text-decoration: none;
  }
  .home{
    color: #ada4a4;
  }
  footer:hover .home{
    color: #fff;
  }

@media screen and (max-width:425px){
    :root{
        --block-size:80px;
        --mark-size:70px;
    }
   table{
    width: 330px;
    height:  330px;
    /* background-color: red; */
   }
   .design1,.design2,.design3{
    display: none;
   }
    
}
@media screen and (max-width:350px){
    :root{
        --block-size:70px;
        --mark-size:60px;
    }
   table{
    width: 270px;
    height:  270px;
    /* background-color: red; */
   }
 
    
}