*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#14bdac;
    --bg-color: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    --bg2-color:#0da192;
}
body{
    font-size: 16px;
    overflow: hidden;
}
section{
    border: 1px solid red;
    width: 100%;
    /* width: 100svw; */
    height: 100vh;
    /* height: 100svh; */
    background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
    background: var(--bg-color);
   
}
.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 0.75rem;
}
.board{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}


table{
    align-self: center;
    
    width: 400px;
    height: 400px;
    background-color:transparent;
    border-spacing: 10px;
}
.block{ 
                     
    border:1px solid red;
    background-color: transparent;
    margin:0.5rem;
    text-align: center;
    padding: 0.25rem;
   
}
