:root {
    --text-color: #000;
    --text-color2: #1e1e1e;

    --bg-color:#0298e0;
    --bg-color2:#f4a82b;
    --bg-color2:#FFEB3B;

    --font-family1 :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* *size */
    --text-big: 1.8rem;
    --text-medium:1.1rem;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
   
}
.title-text{
    font-size: var(--text-big);
    font-family: var(--font-family1);
    color: var(--text-color2);
    margin: 55px 0 ;

    padding: 0rem 1rem;
}

/* ***************** hero */
.hero {
    display: flex;
   
}

.cover {
    width: 100%;
    height: 70vh;
    background: url(../img/bg-cover2.jpg);
    background-size: cover;
    background-position: bottom;
}
/* recent */
.recent{
    /* border: 1px solid red; */
    display: flex;
}