@import "navbar.css";
/* @import "index.css"; */

:root{
    --login-bg:#f0f2f5;
    --pure-white:#fff;
}
.background{
    background-color: var(--login-bg);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.login__component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 550px;
    height:500px;
    background-color: var(--pure-white);
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(0,0,0,0.3);
}


