:root {
    --text-color: #000;
    --text-color2: #1e1e1e;

    --bg-color:#0298e0;
    --bg-color2:#f4a82b;
    --bg-color2:#FFEB3B;
    --bg-white:#f0f0f0;

    --font-family1 :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* *size */
    --text-big: 1.8rem;
    --text-medium:1.1rem;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
   
}
.title-text{
    font-size: var(--text-big);
    font-family: var(--font-family1);
    color: var(--text-color2);
    margin: 55px 0 ;

    padding: 0rem 1rem;
}
body{
    position: relative;
}
/*********************** Navbar */
.navbar {
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0;
    padding: 0.35rem 1rem;
    width: 100%;
    background-color:var(--bg-color);
    box-shadow: 0px 2px 15px var(--text-color);
    /* margin-bottom: 55px; */
    /* border: 1px solid red; */
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family1);
}
.heading{
    font-size: var(--text-big);
    color: var(--text-color);
}
.center-block{
    /* width: 400px; */
    display: flex;
    
    /* border:1px solid red; */
}
.right-block{
    display: flex;
}
.item{
    font-size: var(--text-medium);
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    transition: transform 0.2s;
    color: var(--text-color);
    cursor: pointer;
}
.item:hover{
   transform: translateY(-3px);
  /* border-bottom: 3px solid var(--bg-color2); */

}
.yellow-border{
    border: 2px solid var(--bg-color2);
    border-radius:8px;
    margin: 0 0.5rem;
}
