:root {
    --bg-color: #121212;
    --bg-card: #1e1e1e;
    --text-color: #e1e1e1;
    --text-color2: #9c9c9c;
    --slider-color: #42c458;
    --color: #f5eb8c;

    /* marker */
    --marker-length: 30vw;
    --slider-height: 10px
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */

}

html,
body {
    width: 100%;
    height: -webkit-fill-available;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    height: -webkit-fill-available;
}

.full-calculator {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-color);

}

.heading {
    color: var(--text-color);
    font-size: 35px;
    padding: 10px;
    margin-top: 10px;
    min-height: 50px;
}

.interface {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;

    /* height: 80vh; */
    /* max-height: 100vw; */

    margin: 10px 20px 0px 20px;


}

.card {
    display: flex;
    background-color: var(--bg-card);
    /* width: 50vw; */
    /* height: 50vh; */
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-width: 350px;
}

.calculator {
    /* width: 100%; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    min-width: 350px
}

.component {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    align-self: flex-start;
    text-align: left;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 15px 20px;
    width: 90%;
}

.text {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    align-self: flex-start;
    text-align: left;
    flex-direction: column;
    padding: 5px 20px;
}

.principal {
    outline: none;
    /* background: red; */
    padding: 4px 10px;
    margin: 0 10px 0 25px;
    border-radius: 14px;
    border: none;
    font-size: 16px;
    width: 101px;
    text-align: center;
    /* gap: 42px; */
    display: flex;
    align-self: center;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.component__name {
    color: var(--text-color2);
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

.component__slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: calc(var(--marker-length) + 30px); */

    /* overflow: hidden; */
    /* border: 1px solid red; */
}

.slider {
    -webkit-appearance: none;
    /* width: calc(var(--marker-length) + 30px); */
    width: 100%;
    height: var(--slider-height);
    /* background: red; */
    outline: none;
    transition: 0.1s;
    border-radius: 10px;
    -webkit-transition: .2s;
    /* transition: opacity .2s */
    background: linear-gradient(90deg, var(--slider-color) 10%, var(--text-color) 100%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: calc(var(--slider-height) + 10px);
    height: calc(var(--slider-height) + 10px);
    ;
    border-radius: 50%;
    background: #194ee0;
    cursor: pointer;
    overflow: visible;
}

.range__value {
    color: var(--text-color);
    /* border: 1px solid red; */
    /* width: 60px; */
    text-align: center;
    /* padding-left: 0px; */
    font-size: 18px;
}

/* piechart */
.piechart {
    /* background: #9c9c9c; */
    color: var(--text-color);
    /* width: 500px; */
    min-width: 300px;
    height: 350px;
    display: flex;
    padding: 0px;
    /* max-width: 35vh; */
    /* border: 1px solid red; */
    overflow: visible;
    cursor: pointer;
}

/* ********************barchart */
.barChart {
    cursor: pointer;
    /* height: 40vh; */
    /* height: 300px; */
    /* min-width: 500px;
    max-width: 900px;*/

    /* width: 100%; */
}

.big-card {
    /* width: auto; */
    /* height: 50vh; */
    display: flex;
    background-color: var(--bg-card);
    /* width: 50vw; */
    /* height: 50vh; */
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 350px;
    margin: 10px;
}

@media screen and (max-width:760px) {
    .card {
        width: 80%;
    }

}

@media screen and (max-width:430px) {
    .calculator {
        min-width: auto;
    }

    .card {
        min-width: auto;
    }

    .big-card {
        min-width: auto;
    }

}