* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /** background */
    --bg-color: #e1e1e1;
    --bg-color: linear-gradient(90deg, #1d976c, #93f9b9);
    --bg-color3: linear-gradient(180deg, #1d976c, #93f9b9);

    /** card */
    --bg-color2: #f1f2f4;
    --tab-color: #fff;


    --text-color: #817e7e;
    --box-color: #1d976c;
    --font-color: #1e1e1e;
    --shadow: #b1b1b1;
    --delete-color : rgb(187, 16, 16);


    /** margin and padding */
    --mg-small: 0.5rem;
    --mg-big: 1rem;


    /* *font size */
    --text-big: 1.8rem;
    --text-medium: 1.2rem;
    --text-normal: 1rem;
    --text-small: 0.875rem;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}

.board {
    background: #1d976c;
    background: var(--bg-color);
    width: 100vw;
    min-height: 100vh;
    /* padding:0rem  1rem; */
    /* border: 1px solid red; */
    /* display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column; */

}
/* ********************************* Nav bar */

.navbar{
    display: flex;
    /* grid-template-columns: repeat(7,auto);
    grid-area: ; */
    justify-content: space-between;
    align-items: center;
   
    padding:0.5rem  2rem;
    /* background: var(--bg-color3); */
}
.heading {
    font-size: var(--text-big)
}
.nav-options{
    /* border: 1px solid red; */
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    width: 40%;
    /* height: fit-content; */
    
}
.new-card{
    text-align: center;

}
.search-text{
    width: 80%;
     outline: none;
    border: none;
    border-radius: 0.4rem;
    font-size: var(--text-normal);
   
       padding: 0.25rem 0.5rem;
}
/** **************************lists */
.lists{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-rows: repeat(4,auto-fit);
    /* grid-template-columns: repeat(auto-fit,minmax(270px ,1fr)); */
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    padding:1rem  1rem;
}
/** **************************card */

.card {
    background-color: var(--bg-color2);
    /* width: 270px; */
    /* height: 300px; */
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    margin: var(--mg-big);
    padding-bottom: 5rem;
    font-size: var(--text-normal);
    position: relative;
    
    /* animation: animate1 1s linear forwards; */

}
@keyframes animate1 {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

.card-heading {
    margin: 0.5rem;
    padding: 0 0.5rem;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_text{
    width: 150px;
}
.card-heading h3{
    font-weight: 500;
    font-size: var(--text-normal);
}

.new-item {
    background-color: var(--tab-color);
    width: auto;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px var(--shadow);
    font-size: var(--text-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.title{
    padding-right: 0.25rem;
}
.ri-draggable{
    cursor: pointer;
}
.delete {
    font-size: var(--text-medium);
    color:var(--delete-color);
    cursor: pointer;
}

.add-bar {
    display: flex;
    margin: 0.5rem;
    opacity: 0.5;
    transition: 0.3s;
}

.add-bar:hover {
    opacity: 1;
}

.add_item {
    outline: none;
    border: none;
    border-radius: 0.4rem;
    width: 100%;
    /* height: 1.9rem; */
    margin-right: var(--mg-small);
    padding: 0.5rem;
    /* margin: 0.5rem; */
    font-size: var(--text-small);
    color: var(--font-color);
    background-color: var(--tab-color);
    box-shadow: 2px 2px 5px var(--shadow);
}

.button {
    /* border: 1px solid red; */
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--tab-color);
    font-weight: 500;
    background-color: var(--box-color);
    cursor: pointer;
    margin: auto;
    width: inherit;
     box-shadow: 2px 2px 5px var(--shadow);
}
.button:hover .button:before{
    content: "a";
    background-color: red;
    width: 110px;
    height: 110px;
    z-index: 2;
    position: absolute;
    top :0px;
    left: 0px;


}
.delete-button{
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--tab-color);
    font-weight: 500;
    
    cursor: pointer;
    margin:0.5rem;
    position: absolute;
    bottom: 0.5rem;
    /* transform: translateY(2rem); */
    width: calc(100% - 1.5rem);
     box-shadow: 2px 2px 5px var(--shadow);
    background-color:rgb(187, 16, 16);
    text-align: center ;
    opacity: 0.5;
    transition: 0.3s linear;
}
.delete-button:hover{
    opacity: 1;
}
.warning {
    padding: 0.25rem 0.5rem;
    position: absolute;
    text-align: center;
    color: red;
    /* display: block; */
    animation: autohide 2s ease-in-out forwards;

}


@keyframes autohide {
    0% {
        display: block;
    }

    100% {
        display: none;
        opacity: 0;
    }

}
@media screen and (max-width:680px) {
    .nav-options{
        width: 60%;
    }
    
}
@media screen and (max-width:400px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start
    }
    .nav-options{
        justify-content: space-between;
        width: 100%;
    }
    .new-card{
        width: 40%;
        margin: 0.5rem 0 0 0 ;
    }
}